@using MvcStok.Models.Entity
@using PagedList
@using PagedList.Mvc 
@model PagedList.IPagedList<Kategoriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>KATEGORİ ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {  
            <tr>
                <th>@ktgr.KategoriId</th>
                <td>@ktgr.KategoriAd</td>
                <td><a href="/Kategori/SIL/@ktgr.KategoriId" class="btn btn-danger">SİL</a></td>
                <td><a href="/Kategori/KategoriGetir/@ktgr.KategoriId" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
    
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new {sayfa})) 

<a href="/Kategori/YeniKategori/" class="btn btn-primary">YENİ ÜRÜN EKLE</a>
